* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f3f3;
    color: #0c120c;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar {
    background-color: #6b1925;
    border-color: #808080;
    border-style: solid;
    border-width: 0 0 1px 0;
    opacity: 0.9;
    padding: 0;
    position: sticky;
    text-align: right;
    top: 0;
}

h1 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: bolder;
    padding: 5px 15px 5px 0;
}

h2 {
    font-size: 2rem;
    margin: 3px;
    padding: 10px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    justify-content: center;
    list-style-type: none;
}

li {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    margin: 20px;
    text-align: center;
    width: 250px;
}

img {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

.artist {
    font-weight: bold;
    margin-top: 2px;
}

.title {
    font-style: italic;
}

button {
    background-color: transparent;
    border-style: none;
    color: #6b1925;
    cursor: pointer;
    position: fixed;
    right: 20px;
}

.top-btn {
    bottom: 40px;
    font-size: 3rem;
}

.top-btn:hover {
    color: #19256b;
}

.add-art {
    bottom: 100px;
    font-size: 3rem;
}

.add-art:hover {
    color: #256b19;
}

.back {
    font-size: 3rem;
    top: 100px;
}

.back:hover {
    color: #19256b;
}

.form {
    padding: 0 20%;
}

.form form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    row-gap: 1rem;
}

form p {
    display: flex;
    flex-direction: column;
}

.text-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
}

.text-fields input {
    width: 100%;
}

.required-text {
    font-style: italic;
}

.form-buttons {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}

.form-buttons input {
    background-color: #6b1925;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.5rem;
}

.form-buttons input:hover {
    background-color: #19256b;
}

.footer {
    background-color: #6b1925;
    color: #ffffff;
    opacity: 0.9;
    padding: 10px;
    width: 100%;
}

.bottom {
    bottom: 0;
    position: fixed;
}